# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.metadata/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db